.custom-scrollbar::-webkit-scrollbar {
    width: 1.6em;
    height: 1.6em;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #fdedf1;
    border-radius: 100vw;
    margin-block: 0.5em;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ff0066;
    border: 0.3em solid #fdedf1;
    border-radius: 100vw;
}

.scrollbarhidden::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}
