.custom-scrollbar::-webkit-scrollbar {
    width: 1.6em;
    height: 1.6em;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #FDEDF1;
    border-radius: 100vw;
    margin-block: .5em;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #FF0066;
    border: .30em solid #FDEDF1;
    border-radius: 100vw;
}

.scrollbarhidden::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}